/* Libertual classes */

.logo-libertual {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  color: #555;
  display: block;
  font-size: 3em;
  padding-top: 10px;
}
.tag-cloud {
  display: inline-block;
  margin: auto;
}
.tag-cloud .badge {
  float:left;
  margin: 3px;
  color: #EEE;
  font-size: .7em;
}
blockquote.quote {
  font: 1.5em italic 'Signika', serif;
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
  text-indent: 10px;
  }
blockquote.quote span {
    	display: block;
      color: #444;
  	}
